@import "tailwindcss" source(".");
@import "tailwindcss-radix-colors/dist/all.css";

@font-face {
  font-family: "Fira Code";
  font-weight: 300 700;
  font-style: normal;
  src: url('./assets/fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

@theme {
  --font-default: "Fira Code", sans-serif;
}

:root {
  @apply bg-slate-1 dark:bg-slatedark-1;
}

main, section {
  @apply mb-16;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-sky-12 dark:text-skydark-12;
  @apply font-default;
}

p {
  @apply font-default;
  @apply text-sky-11 dark:text-skydark-11;
}