@import "tailwindcss" source("../../");

@import "./base/reset.css";
@import "./layers/base.css";
@import "./tokens/layout.css";

@import "./a11y/focus.css";

@import "./tokens/motion.css";

@import "./tokens/colors.css";
@import "./base/print.css";
@import "./tokens/typography.css";
@import "./tokens/spacing.css";

@import "./base/elements.css";

@import "./components/structure.css";
@import "./tokens/elevation.css";
